* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 12px;
}

body {
	font-family: sans-serif;
	font-size: 12px;
}

code {
	font-family: Menlo, Monaco, "Courier New", monospace;
	font-size: 1rem;
}

.faded-text {
	font-style: italic;
	color: rgba(0, 0, 0, 0.2);
}

#app {
	display: flex;
	flex-direction: column;
}

.node {
	display: flex;
	padding: 1em 0;
	margin: 0.5rem;
	border: 1px solid rgba(0, 0, 0, 0.5);
	flex-direction: column;
}

.node.error {
	border-color: red;
}

.node .output {
	padding: 0.5rem 1em;
	margin: 0 1.05em;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.node .editor-row {
	display: flex;
}

.node .editor-container {
	width: 100%;
	transition: height 100ms ease;
}
.node textarea {
	font-family: Menlo, Monaco, "Courier New", monospace;
	font-size: 1rem;
	resize: none;
	flex: 1;
	padding: 0.5rem 1em;
	margin: 0 1.05em;
	outline: none;
	border: 1px solid black;
    overflow: auto;
    white-space: pre;
}
.node textarea:focus {
	outline: none;
}

.controls {
	display: flex;
}

.controls button {
	padding: 0.5em 1em;
	outline: none;
	background: white;
	border: 1px solid black;
	cursor: pointer;
	margin: 0 0.5rem;
}

.stdoutput {
	padding: 1em;
	min-height: 1em;
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin: 1rem 0.5rem;
	font-family: Menlo, Monaco, "Courier New", monospace;
	position: relative;
}

.stdoutput::before {
	position: absolute;
	background-color: white;
	top: 0;
	left: 0.5rem;
	transform: translateY(-50%);
}

#app.ok .stdoutput {
	border-color: lime;
}

#app.ok .stdoutput::before {
	content: "stdout";
}

#app.error .stdoutput {
	border-color: red;
}

#app.error .stdoutput::before {
	content: "error";
}

.stats {
	display: flex;
    margin: 0.5rem 1rem;
    justify-content: flex-end;
}
.stats .stat {
	display: flex;
	margin: 0 1rem;
}
.stats .stat:first-child {
	margin-left: 0;
}
.stats .stat:last-child {
	margin-right: 0;
}
.stats .stat div:first-child {
	font-weight: bold;
    content: ":";
    margin: 0 0.5rem;
}
